body {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8;
}

.chart-wrapper {
  text-align: center;
  background: #fff;
  padding: 80px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #E4E4E7;
  border-style: solid;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.x-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #D4D4D4;
}

.bar {
  position: relative;
  width: 20%;
  height: 0;
  transition: height 1s ease-in-out;
}

.bar-value {
  position: absolute;
  bottom: 100%;
  padding-bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: #616972;
  transition: transform 1s ease-in-out;
}

.chart-caption {
  margin-top: 24px;
  font-size: 18px;
  color: #616972;
}

.chart-legend {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.legend-item span {
  color: #616972;
  font-weight: 300;
  font-size: 18px;

}

.legend-color {
  width: 24px;
  height: 24px;
  border-radius: 0;
}